html, body, #root{
  height: 100dvh;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;

    font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  font-style: normal;

  letter-spacing: 1px;
  
}

.fontAbe {
  font-family: "ABeeZee", sans-serif;

}

body{
  background-color: #121214;
  color: #f8f8f8;
}

select {
  text-align: center;           /* pour la liste */
  -webkit-text-align-last: center; /* pour Safari */
  text-align-last: center;      /* pour autres navigateurs */
}

.shadow-inner{
  box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.250);
}


input {
  color-scheme: dark;
}

.drop-figma{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.254);
}

.centerP{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.linear-title {
  background: linear-gradient(to top, #60A8FE, #4950FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* Optionnel mais pour meilleure compatibilité */
}

.new{
  font-size: 12px;
  color: rgb(0, 187, 255);
  font-weight: bolder;
  text-shadow: #1d1d21;
}

.design-point-down, .design-point-up{
  height: 110px;
  width: 110px;
  border-radius: 100%;
  background: #009cea;
  filter: blur(100px);
}



.design-point-up{
  position: absolute;
  top: 0px;
  left: 0px;
}

.design-point-down{
  position: absolute;
  bottom: 0px;
  right: 0px;
}


.gradient-border {
  position: relative;
  padding: 10px 20px;
  border-radius: 8px;
  background: rgba(40, 40, 48, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  z-index: 0;
}

.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  padding: 1px; /* épaisseur de la bordure */
  background: linear-gradient(150deg, rgba(0, 0, 0, 0.725) 20%, #009cea45 100%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
  z-index: -1;
}

