html, body, #root{
  height: 100dvh;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;

    font-family: "Koulen", sans-serif;
  font-weight: 400;
  font-style: normal;

  letter-spacing: 1px;
  
}

.fontAbe {
  font-family: "ABeeZee", sans-serif;

}

body{
  background-color: #1d1d21;
  color: #f8f8f8;
}

select {
  text-align: center;           /* pour la liste */
  -webkit-text-align-last: center; /* pour Safari */
  text-align-last: center;      /* pour autres navigateurs */
}

.shadow-inner{
  box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.250);
}


input {
  color-scheme: dark;
}

.drop-figma{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.254);
}

.centerP{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.linear-title {
  background: linear-gradient(to top, #60A8FE, #4950FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* Optionnel mais pour meilleure compatibilité */
}

