html, body, #root{
  height: 100dvh;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}




select {
  text-align: center;           /* pour la liste */
  -webkit-text-align-last: center; /* pour Safari */
  text-align-last: center;      /* pour autres navigateurs */
}

.shadow-inner{
  box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.250);
}
